*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

/* Main Container */

.container{

    width:800px;
    margin:40px auto;
    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.2);

}

h1{
    margin-bottom:25px;
}

input{

    width:70%;
    padding:12px;
    font-size:16px;

}

button{

    padding:12px 18px;
    cursor:pointer;

}

#message{

    color:green;
    margin-top:15px;
    height:25px;

}

#stats{

    margin:20px 0;

}

ul{

    list-style:none;

}

li{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#eeeeee;

    padding:15px;

    margin-top:10px;

    border-radius:6px;

    transition:0.3s;

}

li:hover{

    transform:scale(1.03);

}

.done{

    text-decoration:line-through;

    color:gray;

}

.deleteBtn{

    background:red;

    color:white;

    border:none;

    border-radius:5px;

}

.pop{

    transform:scale(1.2);

    opacity:0;

}

/* Custom Cursor */

body{

    cursor:none;

}

#cursor{

    width:15px;

    height:15px;

    background:red;

    border-radius:50%;

    position:fixed;

    pointer-events:none;

    transform:translate(-50%,-50%);

    z-index:1000;

}